.title{
    justify-content: center;
    align-items: center;
}
.title h6{
    margin: 4px;
}

@media screen and (max-width: 500px) {
    .title h6{
        font-size: 70%;
    }
}

@media screen and (max-width: 360px) {
    .title h6{
        font-size: 75%;
    }

    .title img{
        width: 20px;
    }

    .main{
        padding: 20px  15px !important;
        padding-bottom: 5px !important;
    }

    .hint__txt{
        font-size: 75%;
    }

    .min__block{
        padding-bottom: 0 !important;
    }

}